.button-panel {
  margin: 2em 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-panel .button {
  background: #c14e7f;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1.0em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;

  & :hover {
    background-color: #a75779
  }
}

.button:hover {
  background: #ee3e52;
}


.loading-button {
  animation: rotate 1.5s linear infinite;
  animation-delay: .2s;
  background-color: transparent;
  border: .3em solid #e1e1e1;
  border-radius: 1.5em;
  border-top-color: #444;
  box-sizing: border-box;
  height: 3em;
  color: transparent;
  padding: 0;
  pointer-events: none;
  width: 3em;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}
