.container-wrapper {
  padding: 5px;
}

.prof-navbar {
  width: 100%;
  text-align: center;
  padding: 0 0 15px 0px;
}

.block {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 33%;
  text-align: center;
  padding: 15px 0 0 0;
  img {
    height: 55px;
    margin: 10px 0 20px 0;
  }
  span {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
}

.hovicon {
  display: inline-block;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  background: whitesmoke !important;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hovicon:before {
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
.hovicon.effect-1 {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.hovicon.effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px rgba(171, 171, 171, 0.24);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

/* Effect 1a */
.hovicon.effect-1.sub-a:hover {
  background: #FFE3D8 !important;
  color: #41ab6b;
}

.hovicon.effect-1.sub-a:hover i {
  color: #41ab6b;
}

.hovicon.effect-1.sub-a:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

section {
  margin: 18px 0 5px 0;
}

.icon-tab {
  position: relative;
  text-align: center;
  cursor: pointer;
  & .s {
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 30px;
    line-height: 70px;
    margin: 0 auto;
    color: #8d98b8;
  }
  & :before {
    position: absolute;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    top: 35px;
    left: 0;
    right: 0;
    background: #f2f2f2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  & .label {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 1em;
  }
  & img {
    height: 50px;
  }
}

// CONTENT MENU

.box {
  background: #fff;
  border: 1px solid #E4E5E5;
  float: left;
  min-height: 112px;
  margin-top: 15px;
  position: relative;
  user-select: none;
  width: 100%;
  transition: background 200ms;
  & :hover {
    background: #f8f8f8;
  }
  & .box-title {
    position: absolute;
    top: 34px;
    left: 100px;
  }
  & .box-body {
    color: #7b7b7b;
    font-size: 15px;
    position: absolute;
    top: 58px;
    left: 100px;
  }
}
