$light-grey-background: #f5f5f5;

.child-container-dashboard {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  background: $light-grey-background;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboard-header {

  width: 100%;

  & img {
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.inner-container {
  //background: $white;
  //margin: 20px;
  //height: 200px;
  //box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

//.tools-wrapper {
//  position: relative;
//  height: 40px;
//  width: 100%;
//  background: #ffffff;
//  border-radius: 0 0 5px 5px;
//  opacity: 0.8;
//
//}

.delete-container {
  position: absolute;
  right: 0;
  margin: 2px 2px 13px 6px;
  cursor: pointer;
  -webkit-animation: spinreverse 5s infinite linear;
  z-index: 10;
  background: white;
  border-radius: 20px;
  opacity: 0.7;

  & img {
    width: 32px;
    height: 32px;
    margin: 4px 4px 0 0;
  }
}

@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

